<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="./Header.css">
</head>
<body>
  <header class="header">
    <div class="logo">
   <a href="#">
     <span class="travel">Travel</span><span class="int">.int</span> 
   </a>   
  </div>
    <div class="top-menu">
        <a class="top-menu__link" href="#">Home</a>
        <a class="top-menu__link" href="#">Category</a>
        <a class="top-menu__link" href="#">About us</a>
        <a class="top-menu__link" href="#">Tours</a>
        <a class="top-menu__link" href="#">Contact</a>
    </div>  
  <div class="block-top-auth">
   <a class="log-in" href="#">Log in</a>
   <a class="sign-up" href="#">Sign up</a>
  </div>        
</header>
</body>
</html>