<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-tours</title>
    <link rel="stylesheet" href="./Top-tours.css">
</head>

<body>
    <div class="top-tours-title">
        Top Tours For You <br>
        <span>Much places for your vibes from the world</span>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/Grand-Canyon.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>The Grand Canyon</p>
                The biggest and the most beautiful canyon in the world
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Arizona, USA
                <img class="coin" src="./svg/coin.svg" alt="coin"> 150/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/new-york-city.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>New York, WTC</p>
                The highest point of the New York, One of the centers of world trade
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">NYC, USA
                <img class="coin" src="./svg/coin.svg" alt="coin"> 180/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/bali-beach.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Bali Beaches</p>
                Amazing views from the cleanest beaches in the world
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Bali, Indonesia
                <img class="coin" src="./svg/coin.svg" alt="coin"> 90/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/snow-hill.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Snow Hills</p>
                Great skiing opportunity with a beautiful view</div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Carpati., Ukraine
                <img class="coin" src="./svg/coin.svg" alt="coin"> 75/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/tokyo.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Tokyo Temples</p>
                Great opportunity to explore traditional Japanese culture
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Tokyo, Japan
                <img class="coin" src="./svg/coin.svg" alt="coin"> 120/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/snow-forest.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Snow Forest</p>
                Taste the cold and beauty of the Russian forest in winter
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Camchatka,Russia
                <img class="coin" src="./svg/coin.svg" alt="coin"> 60/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/Cappadocia.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Cappadocia</p>
                The biggest balloon show in the world
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Cappad.,Turkey
                <img class="coin" src="./svg/coin.svg" alt="coin"> 70/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
        <div class="card">
            <div class="card__wallpaper">
                <img class="card__img" src="./Cities/ackerman.jpg" alt="picture">
            </div>
            <div class="card__text">
                <p>Ackerman Fortress</p>
                The oldest Black Sea fortress with a rich history
            </div>
            <div class="card__place">
                <img class="place" src="./svg/place.svg" alt="place">Odessa, Ukraine
                <img class="coin" src="./svg/coin.svg" alt="coin"> 40/<span>person</span>
            </div>
            <div class="book-trip">
                Book Trip Now
            </div>
        </div>
    </div>
    <div class="top-tours__button">
        <button class="button_active">
          View All Tours
        </button>
</body>

</html>