<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="./Category.css">
</head>

<body>
    <div class="category">
        <h1 class="category__main-title"><div class="heading-line"></div> Category</h1>
        <div class="category__title">You don't have to look for your tour for a long time. We
                have grouped them by category</div>
        <div class="category__cards">
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/beach.jpg" alt="beach">Beach
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/mountain.jpg" alt="mountain">Mountain
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/desert.jpg" alt="desert">Desert
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/tower.jpg" alt="tower">Tower
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/temple.jpg" alt="temple">Temple
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/forest.jpg" alt="forest">Forest
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/city.jpg" alt="city">City
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/active.jpg" alt="active">Active
            </div>
            <div class="category__card">
                <img class="category__wallpaper" src="./components/Category/Category/extreme.jpg" alt="extreme">Extreme
            </div>
        </div>
    </div>
</body>

</html>