<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular search</title>
    <link rel="stylesheet" href="./Popular-search.css">
</head>
<body>
    <p class="popular-search">Popular Search</p>
    <div class="e-pages">
          <a class="e-pages__link" href="#"><span class="e-pages__text">Eiffel Tower</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Bali</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Spain</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Egypt</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Turkey</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">The Grand Canyon</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Cappadocia</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">UAE</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Dominikana</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">London</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">USA</span></a>
          <a class="e-pages__link" href="#"><span class="e-pages__text">Temple Japan</span></a>
      </div>
</body>
</html>