<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main section</title>
    <link rel="stylesheet" href="./Main_section.css">
</head>

<body>
    <div class="main-section">
        <div class="section">
            <div class="main-title">
                <div class="higher-title">Travel.int is all you need <br>
                    <p>Explore the world</p>
                </div>
                <img class="temple" src="./wallpaper/Без имени-3 1.png" alt="temple">
            </div>
            <div class="search">
                <div class="location">
                    <div class="bg-color"><img class="search-picture" src="./icons/svg-editor-image (5).svg" alt="Location"></div>
                    <div class="searchText"> Location <br>
                        <input type="text" placeholder="Where do you want to go?">
                </div>
                <div class="date">
                    <div class="bg-color"><img class="search-picture" src="./icons/svg-editor-image (4).svg" alt="Calendar"></div>
                    <div class="searchText">Date <br> <span>Choose date</span></div>
                </div>
                <div class="people">
                    <div class="bg-color"><img class="search-picture" src="./icons/svg-editor-image (6).svg" alt="People"></div>
                    <div class="searchText">People <br> <span>Add people</span></div>
                </div>
                <a href="#">
                    <div class="search-btn">
                        <img class="search-btn-pict" src="./icons/svg-editor-image (7).svg" alt="Search">
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>