<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="./About-us.css">
</head>

<body>
    <div class="about-us">
        <div class="our-results">
            <div class="girl">
                <img class="wallpaper" src="./girl.png" alt="girl">
                <div class="featureFirst"><img class="customers" src="./2.png" alt="smile">
                    <div class="smileText"><b>3300+</b> <br><span>customers</span></div>
                </div>
                <div class="featureSecond"><img class="destinations" src="./3.png" alt="destinations">
                    <div class="destinationsText"><b>400+</b> <br><span>destinations</span></div>
                </div>
                <div class="featureThird"><img class="tours" src="./4.png" alt="tours">
                    <div class="toursText"><b>70+</b> <br><span>Tours</span></div>
                </div>
            </div>
        </div>
        <div class="text">
            <h2 class="title">Why Choose <span class="highlite">Travel</span>.int?</h2>
            There are always undoubted leaders, professionals in their field, experts of their product -
            that's us! Travel agency Verona-tour does not stand still, we work for you! We are developing our network,
            opening new offices, inspecting hotels and discovering new countries, and most importantly, we provide our
            tourists with the best service in Ukraine!
        </div>
    </div>
</body>

</html>