<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./Footer.css">
</head>

<body>
    <!-- Footer -->
    <section class="footer">
        <div class="box-container">
            <div class="column">
                <a href="#" class="logo"><span>Travel</span>.int</a>
                    <p class="logo-text"> Enjoy by triping with Travel.int</p>
                <div class="share">
                    <a href="#"><img class="facebook" src="./facebook .png" alt="facebook"></a>
                    <a href="#"><img class="instagram" src="./instagram.png" alt="instagram"></a>
                    <a href="#"><img class="telegram" src="./telegram.png" alt="telegram"></a>
                </div>
            </div>
            <div class="column"><span>Menu</span>
                <a class="link" href="#">Home</a>
                <a class="link" href="#">Tours</a>
                <a class="link" href="#">Category</a>
                <a class="link" href="#">About us</a>
            </div>
            <div class="column"><span>Booking Plan</span>
                <a class="link" href="#">Personal trip</a>
                <a class="link" href="#">Group trip</a>
            </div>
            <div class="column"><span>Support</span>
                <a class="link" href="#">FAQ</a>
                <a class="link" href="#">Terms & Conditions</a>
                <a class="link" href="#">Privacy Policy</a>
            </div>
            <div class="column"><span>Get App</span>
                <a class="link" href="#">Google Play Store</a>
                <a class="link" href="#">App Store</a>
                <a class="link" href="#">Other Stores</a>
            </div>
        </div>
    </section>
    <div class="copyright">2021 &#169; - Travel.int. All rights reserved.</div>
</body>

</html>